<!DOCTYPE>
<lang="es">
<html>
 <head>
 <title>Tabla periódica</title>
 <!-- Aquí va la información del head de tu página web, tales como enlaces, escripts, o los meta -->
   <link rel="stylesheet" src="./style.css" type="text/css" />
   <script src="./script.js" type="text/javascript"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.21/vue.min.js"></script>
 </head>
 <body>
<div id="app">
  <header-list ref="header"></header-list>
  <div class="tablaperiodica">
    <elemento v-for="(e, i) in elementos" :key="i"  
              :abbr="e.abbr" 
              :name="e.name"
              :href="e.href"
              :color="e.color" />
  </div>
  <div class="lantanidos">
    <div class="semantics">
      <elemento v-for="(e, i) in semantics" :key="i+90" 
                :abbr="e.abbr" 
                :name="e.name"
                :href="e.href"
                :color="e.color" />
    </div>
    <div class="deprecated">
      <elemento v-for="(e, i) in deprecated" :key="i+112" 
                :abbr="e.abbr" 
                :name="e.name"
                :href="e.href"
                :color="e.color" />
    </div>
  </div>
  <div class="logo">
      <h1>Tabla periódica de los elementos </h1>
  </div>
</div>
    </body>
</html>
